<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column nav-flat menu-items" data-widget="treeview" role="menu" data-accordion="false">
    <ng-container *ngFor="let item of menuItems">
      <ng-container *ngTemplateOutlet="sidebarInner; context: { item: item }"></ng-container>
    </ng-container>
  </ul>
</nav>

<ng-template #sidebarInner let-item="item">
  <ng-container *ngIf="isMenuItemVisible(item)">
    <li class="nav-item">
      <span *ngIf="item.route && !item.children" class="nav-link menu-item" target="_blank" [routerLink]="item.route" [class.selected]="item.isActive">
        <i [ngClass]="item.icon"></i>
        {{ item.label }}
      </span>
      <span class="caret nav-link" *ngIf="!item.route && item.children" (click)="toggle($event)">
        {{ item.label }}
      </span>
      <ul *ngIf="item.children" class="nav nav-treeview nested">
        <ng-container *ngFor="let childItem of item.children">
          <ng-container *ngTemplateOutlet="sidebarInner; context: { item: childItem }"></ng-container>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ng-template>
