<!-- <div>
navigation header
email:{{email}}
<button (click)="logout()">Logout</button>
</div> -->

<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
<button id="sidbar-controller" (click)="sidebarToggle()"  >☰</button>


<div class="navbar-brand nav-user">
  <!-- <a class="navbar-brand" (click)="showitems()" class="imgContainer" href="javascript:;"> -->
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../assets/auth.png"  alt="Logo" class="avatar" style="width:40px;">
      </button>
      <ul class="dropdown-menu nav-user-ul">
        <li><a class="dropdown-item"  (click)="logout()" href="javascript:;"> logout</a></li>
        <li> <a  class=" dropdown-item" href="javascript:;">
          {{userName}}
        </a></li>
        <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
      </ul>
    </div>
  </div>

</nav>
<div class="main" >
<div id="sidbar" [ngClass]="{'sidebare-close':isSidebarOpend}">
  



    <sidebar></sidebar>
   


</div>

<div id="main-body" [ngClass]="{'main-shrink':!isSidebarOpend,'main-expand':isSidebarOpend}">
  
 
  
  
    <router-outlet></router-outlet>

</div>
</div>







<footer id="main-footer" class=" row"  style="width: 100%; height: auto;">
  <strong style="text-align: center;">
    Copyright &copy; {{ "wesam" }}
    <a href="javascript:;">Accounting</a>
    <b>{{ "Version  1.0.0"  }} </b>
  </strong>
  <div class="float-right d-none d-sm-inline-block">

  </div>
</footer>
