#sidbar-controller{
  border: none;
  margin: 12px 12px;
  width: 25px;
}
.top-menu{
  display: flex;
  justify-content: space-between;
}
.nav-user{
  
  /* direction: rtl; */
  position: absolute;
  right: 0px;
}
.nav-user button{
  background-color: transparent;
    color: #f3eaeaed;
    border: none;
}
.sidebar{

  /* background-color: #141414e0; */
  display: none;

 

}
.active{

  /* background-color: #141414e0; */
  flex-basis: 14%;
  

 

}
.active ~ #main-body{

  flex-basis: 85%;
}
.sidebar ~ #main-body{
  flex-basis: 99%;
}


#top-navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
}
.main{
  display: flex;
  height: calc(100vh - 50px);
  width: 100%;
  
}
#main-body{
  padding: 10px;
  flex-basis: 85%;
  
}
.nav-user-ul{

  position: absolute;
    right: 0px;
    left: auto;

}
#main-footer{
  position: sticky;
  bottom: 0;
}


/* .main-expand{
  margin-left: 0%;
} */

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    height: auto;
  }
  #sidebar{
   
  }
}

.mat-tree {
  background: transparent;
}

.mat-tree-node {
  color: black;
}
.main-box{
  height: 100%;
  background-color: #80808066;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}
