<!-- <div>
navigation header
email:{{email}}
<button (click)="logout()">Logout</button>
</div> -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <a class="navbar-brand" class="imgContainer" href="javascript:;">
    <img src="../assets/auth.png" alt="Logo" class="avatar" style="width:40px;">
  </a>
<div class="navbar-brand">
  <a  class="navbar-brand" href="javascript:;">
    {{userName}}
  </a>
  <a class="navbar-brand"  (click)="logout()" href="javascript:;"> logout</a>
</div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button> -->

</nav>

<div class="row"style="height: 98%;">
  <div class="row">
  <div class="col-lg-2 main-box">



      <sidebar></sidebar>
      <!-- <ul class="menu-items">
        <li (click)="goto('home')" ><i class="fa fa-home"></i> Home</li>
        <li (click)="goto('profile')" class="fa fa-home">Profile</li>
        <li (click)="goto('seles')" class="fa fa-home">sales</li>
        <li (click)="goto('home')" class="fa fa-home">Home</li>

      </ul> -->


  </div>
  <div class="col-lg-10" >

    <router-outlet></router-outlet>
  </div>
</div>
<footer class="main-footer row"  style="width: 100%;">
  <strong style="text-align: center;">
    Copyright &copy; {{ "wesam" }}
    <a href="javascript:;">Accounting</a>
    <b>{{ "Version  1.0.0"  }} </b>
  </strong>
  <div class="float-right d-none d-sm-inline-block">

  </div>
</footer>



