/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@fortawesome/fontawesome-free/css/all.css";
.page-header-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form-control{
    border-radius:0%
}
tfoot{
    display: flex;
}
.modal-content{
    border-radius: 0%;
}
.table-responsive{
    
    overflow-x: auto;
    
}
.action-tools{
    --bs-dropdown-min-width: unset;
    
}
